@charset "utf-8";

@-ms-viewport {width: device-width;}

.body {
  font-family: '游ゴシック',Yugothic, 'メイリオ',
  'Hiragino Kaku Gothic Pro', sans-serif;
  background-color: #ff1111;
  /*position: absolute;*/
}

h1{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
h2{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
ul {
  list-style: none;
}

.defbox{
  float:left;
  background: #eeeeee;
  word-wrap: break-word;
}
.defbox > img{
  width: 70%;
  padding-right: 15%;
  padding-left: 15%;
}
.defbox > p{
  width: 70%;
  padding-right: 15%;
  padding-left: 15%;
}
.defboxlast{
  overflow:auto;
  background: #dddddd;
  word-wrap: break-word;
}
.defboxlast > img{
  width: 70%;
  padding-right: 15%;
  padding-left: 15%;
}
.defboxlast > p{
  width: 70%;
  padding-right: 15%;
  padding-left: 15%;
}

.title{
  background: green;
  float: left;
}
.title > h1{
  font-size:50px;
}
.title> h2{
  font-size: 20px;
  padding: 0 0 0 0;
  float : left;
}

.metaheader{
  background: black;
}

.header{
  background: red;
  margin: 0 0 0 0;
  margin-bottom: 60;
  padding: 0 0 0 0;
  padding-right: 300;
  float: none;
}

.menu{
  margin: 0 0 0 0;
  float: none;
}
.menu > .defbox{
  width: 20%;
}
.menu > .defboxlast{
  width: 20%;
}

.toppic{
  position: relative;
}
.toppic > img{
  width:100%;
  height: 500px;
}
.toppic > .defbox0{
  font-size: 30px;
  position: absolute;
  color: white;/*文字は白に*/
  top: 10%;
  left: 10%;
}
.toppic > .defbox1{
  font-size: 20px;
  position: absolute;
  color: white;/*文字は白に*/
  top: 40%;
  left: 25%;
}
.toppic > .defbox1 > img{
  width:200px;
  margin-left: -40%;
}
.toppic > .defbox2{
  font-size: 20px;
  position: absolute;
  color: white;/*文字は白に*/
  top: 40%;
  left: 50%;
}
.toppic > .defbox2 > img{
  width:200px;
  margin-left: -40%;
}
.toppic > .defbox3{
  font-size: 20px;
  position: absolute;
  color: white;/*文字は白に*/
  top: 40%;
  left: 75%;
}
.toppic > .defbox3 > img{
  width:200px;
  margin-left: -40%;
}

.usage{
  margin-top: 50;
  margin-bottom: 50;
  background: blue;
}
.usage > .defbox{
  padding-top: 5%;
  width: 50%;
}
.usage > .defbox > img{
  padding-left: 5%;
  padding-right: 5%;
  width: 90%;
}
.usage > .defbox > h1{
  padding-left: 5%;
  padding-right: 5%;
  width: 90%;
}
.usage > .defbox > p{
  padding-left: 5%;
  padding-right: 5%;
  width: 90%;
}
.usage > .defboxlast{
  padding-top: 5%;
  width: 50%;
}
.usage > .defboxlast > img{
  padding-left: 5%;
  padding-right: 5%;
  width: 90%;
}
.usage > .defboxlast > h1{
  padding-left: 5%;
  padding-right: 5%;
  width: 90%;
}
.usage > .defboxlast > p{
  padding-left: 5%;
  padding-right: 5%;
  width: 90%;
}

.join > .defbox{
  width:40%;
}
.join > .defboxlast{
  width: 60%;
}
.join > .defboxlast > img{
  width:100%;
  height: 30%;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

.map{
  margin-top: 60;
  margin-bottom: 60;
}
.map > img{
  width: 70%;
  margin: auto;
  padding: auto;
}

.footer{
  background: lime;
}
