@charset "utf-8";

@-ms-viewport {width: device-width;}

.body {
  font-family: '游ゴシック',Yugothic, 'メイリオ',
  'Hiragino Kaku Gothic Pro', sans-serif;
  background-color: #ff1111;
  /*position: absolute;*/
}

h1{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
h2{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
ul {
  list-style: none;
}

.toppic{
  position: absolute;
}

.toppic > h1{
  margin: 70 20 70 20;
  font-size: 50px;
}

.toppic > p{
  font-size: 19;
  margin: 0 0 0 0;
  padding: auto;
  /*background: red;*/
  position: relative;
  top: -10%;
  left: 20%;
}

.defbox{
  float:left;
  background: #eeeeee;
  word-wrap: break-word;
}
.defbox > img{
  width: 70%;
  padding-right: 15%;
  padding-left: 15%;
}
.defbox > p{
  width: 70%;
  padding-right: 15%;
  padding-left: 15%;
}
.defboxlast{
  overflow:auto;
  background: #dddddd;
  word-wrap: break-word;
}
.defboxlast > img{
  width: 70%;
  padding-right: 15%;
  padding-left: 15%;
}
.defboxlast > p{
  width: 70%;
  padding-right: 15%;
  padding-left: 15%;
}

.title{
  background: black;
  float: left;
}
.title > h1 > a{
  font-size:50px;
  color: #ffffff;
}
.title> h2{
  font-size: 20px;
  padding: 0 0 0 0;
  float : left;
  color: #ffffff;
}

.metaheader{
  background: black;
}

.header{
  color: #ffffff;
  background: black;
  margin: 0 0 0 0;
  margin-bottom: 60;
  padding: 0 0 0 0;
  padding-right: 300;
  float: none;
  height: 110px;
}

.menu{
  margin: -60 0 0 0;
  float: none;
}
.menu > .defbox{
  width: 16.6%;
}
.menu > .defboxlast{
  width: 16.6%;
}

.toppic{
  position: relative;
  width:60%;
  height: 60%;
  float: left;
}
.toppic > img{
  width:100%;
  height: 100%;
}
.toppic > .defbox1{
  font-size: 30px;
  position: absolute;
  top: 5%;
  left:10%;
}
.toppic > .defbox1 > img{
  width:200px;
  margin-left: -40%;
}
.toppic > .defbox2{
  font-size: 30px;
  position: absolute;
  top: 5%;
  left: 80%;
}
.toppic > .defbox2 > img{
  width:200px;
  margin-left: -40%;
}
.toppic > .defbox3{
  font-size: 30px;
  position: absolute;
  top: 40%;
  left: 45%;
}
.toppic > .defbox3 > img{
  width:200px;
  margin-left: -40%;
}
.toppic > .defbox3 > p{
  margin-left: -40%;
}

.event_plans{
  width:40%;
  float:right;
}

.article{
  background: #eeeeee;
  padding: 10 10 10 10;
  margin: 10 10 10 10 ;
}

.article > img{
  padding-left:60%;
  width: 40%;
}

.usage{
  margin-top: 500;
  margin-bottom: 50;
}
.usage > .article{
  width: 90%;
  margin: 0 40 40 0;
  padding: 0 10 10 0;
}
.usage > .article > p{
  /*float: left;*/
  padding-left: 5%;
  padding-right: 5%;
  width: 90%;
}
.usage > .article > img{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  width: 40%;
}
.usage > img{
  height: 100%;
}

.join > .defbox{
  width:40%;
}
.join > .defboxlast{
  width: 60%;
}
.join > .defboxlast > img{
  width:100%;
  height: 30%;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

.map{
  margin-top: 60;
  margin-bottom: 60;
}
.map > img{
  width: 70%;
  margin: auto;
  padding: auto;
}

.footer{
  background: lime;
}
