.topabout{
  /*background: #005fa4;*/
  color: #ffffff;
  text-align: center;
  margin-top:5px;
  margin-bottom:5px;
  padding-top: 30px;
  padding-bottom: 30px;
  letter-spacing: 2px;
  line-height: 32px;
  background:red;
}
.topabout img{
  /*max-width: 70%;
  margin: 0 auto;*/
}
.topabout a{
  color: #ffffff;
}

.topourmission{
  background: #82c2e9;
  text-align: center;
  margin-top:5px;
  margin-bottom:5px;
  padding-top: 30px;
  padding-bottom: 30px;
  letter-spacing: 2px;
  line-height: 32px;
}
.topourmission h1{
  font-size: 28px;
}

.topforstudent_all{
}

.topforstudent_index{
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 40px;
}

.topforstudent{
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  letter-spacing: 2px;
  line-height: 32px;
}
.topforstudent p{
  letter-spacing: 0px;
}

/*my12は、h3の見出し と pの本文を含む何かに適用する*/
/*imgが、h3 と　p を含む何かの横に置かれていた場合も、適用する*/
.my12 h1{
    padding-bottom: 15px;
}
.my12 h3{
    padding-top:5px;
    padding-bottom:2%;
}
.my12 p{
    padding-top: 2%;
    padding-bottom:3%;
}
.my12 img{
    padding-top: 5px;
    padding-bottom:3%;
}
/*画像のh幅を100%にしたい時に使う*/
/*シングルページのアイキャッチの画像が幅いっぱいにならない問題があったので、作った*/
.img100{
    width:100%;
}


.background-img{
    margin-left:3%;
    margin-right:3%;
    position:relative;
}


footer{
    width:100%;
    margin-top:5%;
}

.pages{
    padding-top:5%;
    padding-left:5%;
    padding-right:5%;
    margin-top:40%;
    margin-left:10%;
    margin-right:10%;
    color: #333333;
    background: #ffffff;
    position:absolute;
    top:0px;
    left:0px;
}

/*pagesのcssをフッターにも適用したいが、absoluteでなくす必要がある*/
/*ので、そういう時に使うclass ↓*/
.pagesForFooter{
    padding-left:5%;
    padding-right:5%;
    margin-left:10%;
    margin-right:10%;
    color: #333333;
    top:0px;
    left:0px;
}

/*上記と同様(ただしlistテンプレートに用いる用)*/
.pagesForList{
    padding-top:10%;
    padding-left:5%;
    padding-right:5%;
    margin-left:10%;
    margin-right:10%;
    color: #333333;
    top:0px;
    left:0px;
}

/*キャッチアイ画像がいらない時用のpageようcss*/
.pagesForNoCatchEye{
    padding-top:10%;
    padding-left:5%;
    padding-right:5%;
    margin-left:10%;
    margin-right:10%;
    color: #333333;
    top:0px;
    left:0px;
}
