<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>吉田のいろいろ置き場</title>
        <link rel="stylesheet" href="{{ .Site.BaseURL }}/style.css">

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap読み込み -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <!-- 独自のcss の読み込み -->
        <script src="/mycss/style.css"></script>
    </head>

    <body>
        <header>
            <!-- 画面上部のナビバー-->
            <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
              <a href="{{ .Site.BaseURL }}" class="navbar-brand">吉田</a>
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navmenu1" aria-controls="navmenu1" aria-expanded="false" aria-label="Toggle navigation">
                 <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navmenu1">
                <a href="{{ .Site.BaseURL }}/event" class="navbar-brand">イベント</a>
                <a href="{{ .Site.BaseURL }}/flier" class="navbar-brand">フライヤー</a>
                <a href="{{ .Site.BaseURL }}/website" class="navbar-brand">webサイト</a>
                <a href="{{ .Site.BaseURL }}/program" class="navbar-brand">プログラム</a>
                <a href="https://github.com/104104104" class="navbar-brand">吉田のGitHub</a>
              </div>
            </nav>

        </header>
        <main style="padding-top:100px;">
